MYSQL_HOST_DMC_GENERAL=
MYSQL_PORT_DMC_GENERAL=25060
MYSQL_USER_DMC_GENERAL=
MYSQL_PASSWORD_DMC_GENERAL=
MYSQL_DB_DMC_GENERAL=dmc-general

API_KEY_DTDCFDAB=
API_BASE_URL_DTDCFDAB=

RETOOL_CAMPANAS_API_KEY=
RETOOL_CAMPANAS_WEBHOOK_URL=https://api.retool.com/v1/workflows/ab1aa902-a132-4ddc-8e15-c5b1883153ab/startTrigger

CLAW_API_KEY=
CLAW_BASE_URL_PICKS=
CLAW_BASE_URL_TRACKING=

GCP_PROJECT_ID=prod-apps-y-computo
GCP_LOCATION=us-central1
TASKS_QUEUE=dtdcfdab-jobs

PORT=8080
