MYSQL_HOST_DMC_GENERAL=
MYSQL_PORT_DMC_GENERAL=25060
MYSQL_USER_DMC_GENERAL=
MYSQL_PASSWORD_DMC_GENERAL=
MYSQL_DB_DMC_GENERAL=dmc-general

API_KEY_DTDC_FDA_BUHO=
API_BASE_URL_DTDC_FDA_BUHO=

RETOOL_CAMPANAS_API_KEY=
RETOOL_CAMPANAS_WEBHOOK_URL=https://api.retool.com/v1/workflows/ab1aa902-a132-4ddc-8e15-c5b1883153ab/startTrigger

RETOOL_DB_HOST=
RETOOL_DB_PORT=5432
RETOOL_DB_USER=
RETOOL_DB_PASSWORD=
RETOOL_DB_NAME=

API_KEY_CLAW=
API_BASE_URL_CLAW=

GCP_PROJECT_ID=prod-apps-y-computo
GCP_LOCATION=us-central1
TASKS_QUEUE=dtdc-fda-buho-jobs

PORT=8080
